{{!-- <div class="parentContainer" style="height: 250px; background-color: #1B1B1B;"> --}}
<div class="parentContainer" style="height: 250px; background-color: #1B1B1B;">

    <div class="container" style="display: flex; max-width: 80%;
    justify-content: space-between;">
        <div class="list-items" style="margin-top: 43px;">
            <div class="list-items-title" style="color: #897979; font-weight: bold;">SINH VIÊN THỰC HIỆN</div>
            <div class="list-items-content" style="color: white; line-height: 45px;">
                <div class="list-items-subContent">Nguyễn Văn Sang</div>
                <div class="list-items-subContent">Nguyễn Thị Linh</div>
                <div class="list-items-subContent">Phạm Thị Hương</div>
            </div>
        </div>
        <div class="list-items" style="margin-top: 43px;">
            <div class="list-items-title" style="color: #897979; font-weight: bold;">MÃ SINH VIÊN</div>
            <div class="list-items-content" style="color: white; line-height: 45px;">
                <div class="list-items-subContent">B19DCPT190</div>
                <div class="list-items-subContent">B19DCPT140</div>
                <div class="list-items-subContent">B19DCPT117</div>
            </div>
        </div>
        <div class="list-items" style="margin-top: 43px;">
            <div class="list-items-title" style="color: #897979; font-weight: bold;">LỚP</div>
            <div class="list-items-content" style="color: white; line-height: 45px;">
                <div class="list-items-subContent">D19PTDPT</div>
                <div class="list-items-subContent" style="margin-top:20px ;">
                    <img src="/img/QRcode.png" alt="qrcode" style="width: 72px; height: 65.65px;">
                </div>
            </div>
        </div>
    </div>
</div>