<nav class="navbar bg-dark">
  <div class="container-fluid">
    <span class="navbar-text" style="color: white; text-transform: uppercase;
    font-weight: 650; margin-left: auto; margin-right: auto;">
      Practice makes perfect
    </span>
  </div>
</nav>