{{!--
BEM: Block element modifier
--}}

<div class="footer">

    <div class="footer__contact">
        <div class="footer__contactName">contact with us</div>
        <div class="footer__contact__link">
            <div class="contact__github">

                <a href="https://github.com/RuinedKingPTIT" target="_blank"><img src="/img/github.png" alt="Github"></a>
            </div>
            <div class="contact__github">
                <a href="https://github.com/RuinedKingPTIT" target="_blank"><img src="/img/Facebook.png" alt="Facebook"></a>

            </div>
            <div class="contact__github">

                <a href="https://github.com/RuinedKingPTIT" target="_blank"><img src="/img/Twitter.png" alt="Facebook"></a>
            </div>
            <div class="contact__github">

                <a href="https://github.com/RuinedKingPTIT" target="_blank"><img src="/img/Linkedin.png" alt="Facebook"></a>
            </div>
            <div class="contact__github">

                <a href="https://github.com/RuinedKingPTIT" target="_blank"><img src="/img/Youtube.png" alt="Facebook"></a>
            </div>
            <div class="contact__github">
                <a href="https://github.com/RuinedKingPTIT" target="_blank"><img src="/img/email.png" alt="Facebook"></a>

            </div>
        </div>
    </div>
    <div class="footer__content">
        <div class="footer__content__list">
            <div class="list__item__title">SINH VIÊN THỰC HIỆN</div>
            <div class="list__items__content">
                <div class="list__items__subContent">Nguyễn Văn Sang</div>
                <div class="list__items__subContent">Nguyễn Thị Linh</div>
                <div class="list__items__subContent">Phạm Thị Hương</div>
                <div class="list__items__subContent">Lê Ngọc Linh</div>
                <div class="list__items__subContent">Đinh Thị Hương Thảo</div>
            </div>
        </div>
        <div class="footer__content__list">
            <div class="list__item__title">MÃ SINH VIÊN</div>
            <div class="list__items__content">
                <div class="list__items__subContent">B19DCPT190</div>
                <div class="list__items__subContent">B19DCPT140</div>
                <div class="list__items__subContent">B19DCPT117</div>
                <div class="list__items__subContent">B19DCPT138</div>
                <div class="list__items__subContent">B19DCPT223</div>
            </div>
        </div>
        <div class="footer__content__list">
            <div class="list__item__title">LỚP</div>
            <div class="list__items__content">
                <div class="list__items__subContent">D19PTDPT</div>
                <div class="list__items__subContent" style="margin-top:20px ;">
                    <img src="/img/QRcode.png" alt="qrcode" class="qrcode">
                </div>
            </div>
        </div>
    </div>
</div>