.topSach__title {
  margin-top: 70px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: larger;
}

.watchMore {
  margin-top: 50px;
  text-align: center;
}
.mod__card {
  margin-top: 50px;
  margin-left: 40px;
}
.card-body a {
  text-decoration: none;
}
