<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" onclick="SpellingMe()">Nghe chép chính tả</button>
    <button class="btn btn-primary" type="button" onclick="Toeic()">Toeic part 2-3</button>
</div>

<script>
    function SpellingMe(){
        location.assign("/home/Spelling");
    }
    function Toeic(){
        location.assign("/home/Toeic");
    }
</script>