<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Spelling.css">
    <title>Document</title>
</head>

<body>
   
        <div class="jumbotron1" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream, 1" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron2" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron3" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron3" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron4" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron5" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron6" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron7" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron8" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron9" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron10" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron11" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="jumbotron12" style="margin-top: 75px; margin-bottom: 50px; text-align: center;">
            <audio controls="controls" style="width: 80%;">
                <source src="/stream" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>
    <div class="mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Write down the transcript here!"></textarea>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="button" style="margin-bottom: 20px;">Check</button>

    <div id="flip">Show answer!</div>
    <div id="panel">To cut our losses we must be cautious in dealing with this financial issue</div>

    <div class="arrow-btn">
        <button class="btn"><i class="fa fa-arrow-left" style="width: 100px; font-size: 40px;"></i></button>
        <button class="btn"><i class="fa fa-arrow-right" style="width: 100px; font-size: 40px;"></i></button>
    </div>

    <script>
        $(document).ready(function () {
            $("#flip").click(function () {
                $("#panel").slideToggle("slow");
            });
        });
    </script>


</body>

</html>